/* Google-fonts: */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Peddana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");

/* CSS-variables for colors and typographys: */

:root {
  --main-button-font: "Roboto Slab", serif;
  --main-header-font: "Playfair Display", serif;
  --main-text-font: "Kanit", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: crimson;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: crimson;
}

#main-frame {
  width: 500px;
  height: 500px;
  border: 1px solid white;
  display: flex;
  flex-flow: column;
}

.logo {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 20%;
}

.paragraph {
  color: white;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-text-font);
}

.paragraph p {
  width: 80%;
  text-align: center;
}

.author {
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-header-font);
}

#main-frame-js {
  width: 500px;
  height: auto;
  border: 1px solid white;
  display: flex;
  flex-flow: column;
  margin: 0px 10px;
}

.button {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button {
  background-color: black;
  font-family: var(--main-button-font);
  color: white;
  border-color: #003366;
  margin: 0px 5px;
}

.button button:hover {
  color: crimson;
}

span {
  background-color: #e1ecf4;
  color: #3986c2;
  padding: 5px 10px;
  border-radius: 5px;
  display: block;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: 2px;
  margin-right: 2px;
}

.tags {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

#create-quote-container {
  width: 500px;
  height: auto;
  border: 1px solid white;
  display: none;
}

.box {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
}

#tagsDisplay {
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.headerStyling {
  color: white;
  font-family: var(--main-header-font);
}

textarea {
  width: 50%;
  height: 50%;
  border: 1px solid white;
}

.box button {
  background-color: black;
  color: white;
  font-family: var(--main-button-font);
}
